

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    display:flex;
    flex-direction: column;
  }
  header {
    width: 100%;
    height: 10vh;
    background: #f3eaea;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  }
  
  .TituloH1 {
      font-family: "Righteous", sans-serif;
      font-size: clamp(16px, 4vw, 26px);
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      color: #1c1c1c; 
      text-transform:uppercase;
  }
  
  span {
    color: #b31b1b;
  }
  
  main {
      height: auto;
      min-height:80vh;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background:orange;
  
  }
  
  .Forms {
      width:100%;
      display:flex;
      justify-content: space-evenly;
      text-align: center;

  }
  .Forms h2 {
    padding: 0 0 30px 0;

}
  .InputsArticle {
      display:flex;
      flex-direction: column;
      width: 280px;
  }
  
   
  
  .recuperarSenha {
      text-align: center;
  }
   
  a {
      display:flex;
      flex-direction: column;
      width: 200px;
      padding: 40px 0;
  }

  footer {
    width: 100%;
    height: 10vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer h6 {
     font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1c1c1c; 
   }
  

   @media only screen and (max-width: 581px) {
 
    .Forms {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 40px 0 0 0;
  }

  }