

* {
    padding: 0;
    margin: 0;
  }
  
body {
  display:flex;
  flex-direction: column;
  background: orange !important;;
} 
  
header {
  height: 10vh;
  background: #f3eaea;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.TituloH1 {
  font-family: "Righteous", sans-serif;
  font-size: clamp(16px, 4vw, 26px);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #1c1c1c; 
  text-transform:uppercase;
}

span {
  color: #b31b1b;
}

.banner {
  padding: 10px 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner img{
  max-width: 80vw;
  margin:0 auto;
  height: 80px;
}
   
.carousel {
  width: 80vw;
  height: 250px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.carousel:hover .controls {
  opacity: 1;
}

.controls {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
  transition: all ease 0.5s;
}

.control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: .5;
    transition: ease .3s;
    cursor: pointer;

   
  }

  .control:hover {
    opacity: 1;
  }

  .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;


  }

  .slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
  }

   
  main {
    min-height:500px;   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 1.5rem;
    padding: 20px 0;
    width: 70vw; 
}

.galleryItem {  
    background: #f3eaea;
    width: 280px;  
    height: 340px;
    object-fit: cover; 
}

.galleryItem img {  
  width: 280px;  
  height: 280px;
  object-fit: cover;
}

.price {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #1c1c1c;
  text-align: center;
  padding: 6px 0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price p{ 
  color: #555;
  font-size: 14px;
  font-weight: 900;
  padding: 0;
  margin:0;  
}

.price span{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: orange;  
}

.newsLetter {
  margin: 0 auto;
  min-width: 260px;
  width:60%;
  max-width: 400px;
}

.input-group {
  background:rgb(211, 210, 210);
  width: 260px;
}   

.form-control {
  height: 50px;
  width: 250px; 
}

.btn {
  height: 50px;
  width: 100px; 
}

footer {
  width: 100%;
  height: 10vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h6 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1c1c1c; 
 }
 
 @media only screen and (max-width: 581px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 }

 