

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    display:flex;
    flex-direction: column;
    background: orange !important;;

  } 
  
header {
  width: 100%;
  height: 10vh;
  background: #f3eaea;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.TituloH1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #1c1c1c; 
    text-transform:uppercase;
}

span {
  color: #b31b1b;
}

  .asideBanner {
  
  }
  .banner {
    padding: 10px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner img{
    height: 80px;
   }

  .fotorama {
      padding-top: 20px;
      height: 400px;
  }
  main {
      min-height:500px;
        
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      width: 100%;

  
  } 

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 1.5rem;
    padding: 20px 0;
    width:60%;

    
  }
.galleryItem {  
    background: #f3eaea;
    width: 250px;  
    height: 340px;
     object-fit: cover;
    
}
.galleryItem img {  
   width: 250px;  
   height: 280px;
   object-fit: cover;
  
}

.price {
   width: 100%;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   color: #1c1c1c;
   text-align: center;
   padding: 6px 0;
    margin:0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

  }

  .price p{ 
    color: #555;
    font-size: 14px;
    font-weight: 900;
    padding: 0;
    margin:0;
   }


   .price span{
    width: 100%;
     font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: orange;

   }

   .newsLetter {
    margin: 0 auto;
    width: 400px;
   }
   .input-group {
     background:rgb(211, 210, 210);
     width: 260px;
   } 
   

   .form-control {
    height: 50px;
    width: 250px; 

   }
.btn {
  height: 50px;
  width: 100px; 

}

footer {
  width: 100%;
  height: 10vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h6 {
   font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1c1c1c; 
 }
