* {
  padding: 0;
  margin: 0;
}

body {
  display:flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 10vh;
  background: #f3eaea;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.TituloH1 {
  font-family: "Righteous", sans-serif;
  font-size: clamp(16px, 4vw, 26px);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #1c1c1c; 
  text-transform:uppercase;
}

span {
  color: #b31b1b;
}

main {
    min-height:500px;
    height:80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:orange;
}

.InputsArticle {
    display:flex;
    flex-direction: column;
    width: 280px;
}

.recuperarSenha {
    text-align: center;
    padding: 20px 0 0;
}
 
.CadastroButao {
  display:flex;
  flex-direction: column;
}

a {
  text-align: center;
  color: #fff;
  width: 200px;
  padding-top: 40px;
}

footer {
  width: 100%;
  height: 10vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h6 {
   font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1c1c1c; 
 }

